{
	auto_https off
	http_port {$PORT:8080}
	admin off
}

:{$PORT:8080} {
	@index {
		path /
		path /index.html
	}

	header @index {
		Cache-Control "public, no-cache, proxy-revalidate"
	}

	root * {$ROOT:/app}
	encode
	file_server
	try_files {path} /index.html?{query}
}

