{
	auto_https off
	http_port {$PORT:8080}
	admin off
}

:{$PORT:8080} {
	@index {
		path /
		path /index.html
	}

	header @index {
        #Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
		#Pragma "no-cache"
		#Expires 0
		Cache-Control "public, max-age=0, must-revalidate"
		#Cache-Control "public, no-cache"
		#Cache-Control "public, no-cache, proxy-revalidate"
		#Cache-Control "public, no-cache, must-revalidate"
	}

	root * {$ROOT:/app}

	encode
	try_files {path} /index.html?{query}
	file_server
}

