{
	auto_https off
	http_port {$PORT:8080}
	admin off
}

:{$PORT:8080} {
	@index {
		path /
		path /index.html
	}

	header @index {
		Cache-Control "public, max-age=0, must-revalidate"
	}

	root * {$ROOT:/app}

	encode
	try_files {path} /index.html?{query}
	file_server
}

